body{
    background: #3A3A3A;
    background: -moz-linear-gradient(left, #3A3A3A 0%, #141414 31%, #000000 100%);
    background: -webkit-linear-gradient(left, #3A3A3A 0%, #141414 31%, #000000 100%);
    background: linear-gradient(to right, #3A3A3A 0%, #141414 31%, #000000 100%);
}

a{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

#custom-1{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    position:absolute;
    font-size:80px;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}


#box1{

    height:100vh;
    background-color:transparent;
    background-image: url(/media/HDchungus.png);
    background-repeat: no-repeat;
    background-position-x: 30%;
    background-position-y: auto 50%;
    background-size: auto 100%;
    opacity: 40%;
    }

@media only screen and (max-device-width: 480px) {
    body{
        background: #3A3A3A;
        background: -moz-linear-gradient(left, #626262 0vh, #141414 10vh, #000000 100vh);
        background: -webkit-linear-gradient(left, #626262 0vh, #141414 10vh, #000000 100vh);
        background: linear-gradient(to right, #626262 0vh, #141414 45vh, #000000 100vh);
    }
    #custom-1{
        color:white;
        font-family: Arial, Helvetica, sans-serif;
        position:absolute;
        font-size:80px;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
    }

    #box1{

        height:100vh;
        background-color:transparent;
        margin: 0;
        background-image: url(/media/HDchungus.png);
        background-repeat: no-repeat;
        background-position-x: -30vh;
        background-position-y: -5vh;
        background-size: auto 100%;
        opacity: 40%;

        }
    

}